<div class="container-xl">
  <h2 style="color: olivedrab">Books</h2>
  <div class="text-right">
    <a [routerLink]="'/books/create'" class="btn btn-outline-primary mb-3">Add new book</a>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let b of books">
      <td>{{b.id}}</td>
      <td><a [routerLink]="'/books/' + b.id">{{b.title}}</a></td>
      <td>{{b.author}}</td>
      <td><a [routerLink]="'/books/' + b.id + '/edit'">Edit</a> | <a [routerLink]="'/books/' + b.id + '/delete'">Delete</a></td>
    </tr>
  </table>
</div>
